*{
  margin: 0;
  padding: 0;
  font-size: 20px;
}

body{
  background-color: black;
  color:black;
  text-align: center;
}

.family{
  font-size: 30px;
  background-color: white;
}

#head{
  font-size: 50px;
}

img{
  width: 400px;
  height: 400px;
}

/* static position is used as it is the default position */
ul{
  list-style: none;
  color:white;
  font-size: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: blueviolet;
  align-items: center;
  border-radius: 5px;
  padding: 1vw;
  width: 96.8vw;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

li:hover{
  cursor: pointer;
  color: darkorange;
}


/* sticky position is used for navbar */
nav{
  position: sticky;
  top: 0;
}

/* Relative position is used below*/
.daddy{
  width: 90vw;
  background-color: yellow;
  font-size:30px;
  margin-left: 60px;
  position: relative;
  top: 10vh;
}


.daddy p{
  padding-left: 5vw;
  padding-right: 5vw;
  background-color: yellow;
  align-self: center;
}

/* Absolute position is used below*/
.mummy{
  color:white;
  background-color: red;
  width: 90vw; 
  margin-left: 4vw; 
  position: absolute;
  top: 120vh;
}

.mummy p{
  margin: 20px;
  padding-left: 5vw;
  padding-right: 5vw;
  align-self: center;
}

h1, strong{
  font-size: 50px;
}

/* Absolute position is used in this div */
.me{
  color:white;
  background-color: blue;
  width: 90vw; 
  margin-left: 4vw; 
  position: absolute;
  top: 220vh;
}

.me p{
  margin: 20px;
  padding-left: 5vw;
  padding-right: 5vw;
  align-self: center;
}

/* Fixed position is used for footer div */
footer{
  position: fixed;
  font-size: 25px;
  color: yellow;
  bottom: 5px;
  right: 5px;
  border-radius: 10px;
  width: fit-content;
  padding: 10px;
  background-color: rgb(23, 198, 44);
}

a{
  text-decoration: none;
  color: inherit;
}






